<h1>Admin Dashboard</h1>
<h3>Total number of products: <a href="http://localhost:3000/admin/products"><%= @products.length %></a></h3>
<h3>Total number of categories: <a href="http://localhost:3000/admin/products"><%= @categories.length %></a></h3>
