<h1>About Jungle</h1>
<p>Jungle is an online plant shop that was started in 2024 by Amrinder Singh. We carry all ranges of plants, from Roses to Pine trees. At our online plant shop, we only sell the highest quality plants and flowers. We source our products from reputable growers and nurseries, so you can be sure you're getting a healthy, beautiful plant. Plus, ordering is quick and easy! We offer free shipping on all orders over $50, so it's easy to get the plants you want without breaking the bank.</p>

<h6>Jungle is built using Ruby on Rails.</h6>